Product/Production/XML/HL7Validation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="HL7Validation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ValidHL7Versions">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="version" maxOccurs="unbounded">
                                <xs:complexType/>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="severity" type="xs:string" use="required"/>
                        <xs:attribute name="errorMessageId" type="xs:unsignedInt" use="required"/>
                        <xs:attribute name="errorCodeId" type="xs:unsignedInt" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SupportedAdtMessages">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="adtMessage"/>
                        </xs:sequence>
                        <xs:attribute name="severity" type="xs:string" use="required"/>
                        <xs:attribute name="errorMessageId" type="xs:unsignedInt" use="required"/>
                        <xs:attribute name="errorCodeId" type="xs:unsignedInt" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="RequiredSegments">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="segmentName"/>
                        </xs:sequence>
                        <xs:attribute name="severity" type="xs:string" use="required"/>
                        <xs:attribute name="errorMessageId" type="xs:unsignedInt" use="required"/>
                        <xs:attribute name="errorCodeId" type="xs:unsignedInt" use="required"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Fields">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Field" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name"/>
                                        <xs:element name="Location" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="hl7Segment">
                                                  <xs:complexType>
                                                  <xs:attribute name="fieldNumber" type="xs:double"
                                                  use="required"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="identifier">
                                                  <xs:complexType>
                                                  <xs:attribute name="fieldNumber" type="xs:double"
                                                  use="required"/>
                                                  <xs:attribute name="mustMatch" type="xs:boolean"
                                                  default="true"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="version" type="xs:string"
                                                  use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="description"/>
                                        <xs:element name="Validations">
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="usage">
                                                  <xs:complexType>
                                                  <xs:attribute name="severity" type="xs:string"
                                                  use="required"/>
                                                  <xs:attribute name="errorMessageId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  <xs:attribute name="errorCodeId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="cardinality" maxOccurs="1"
                                                  minOccurs="0">
                                                  <xs:complexType>
                                                  <xs:attribute name="severity" type="xs:string"
                                                  use="required"/>
                                                  <xs:attribute name="errorMessageId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  <xs:attribute name="errorCodeId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="dataType" minOccurs="0">
                                                  <xs:complexType>
                                                  <xs:attribute name="severity" type="xs:string"
                                                  use="required"/>
                                                  <xs:attribute name="errorMessageId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  <xs:attribute name="errorCodeId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  <xs:attribute name="format" type="xs:string"/>
                                                  <xs:attribute name="specialCharacters"
                                                  type="xs:string"/>
                                                  <xs:attribute name="minimumLength"
                                                  type="xs:unsignedInt"/>
                                                  <xs:attribute name="maximumLength"
                                                  type="xs:unsignedInt"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="dataRange" minOccurs="0">
                                                  <xs:complexType>
                                                  <xs:attribute name="severity" type="xs:string"
                                                  use="required"/>
                                                  <xs:attribute name="errorMessageId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  <xs:attribute name="errorCodeId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="ValueList" minOccurs="0">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element name="value" maxOccurs="unbounded"/>
                                                  </xs:sequence>
                                                  <xs:attribute name="severity" type="xs:string"
                                                  use="required"/>
                                                  <xs:attribute name="errorMessageId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  <xs:attribute name="errorCodeId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  <xs:attribute name="caseSensitive"
                                                  type="xs:boolean" default="false"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="RequiresFieldValue">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="fieldValue">
                                                  <xs:complexType> </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  <xs:attribute name="severity" type="xs:string"
                                                  use="required"/>
                                                  <xs:attribute name="errorMessageId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  <xs:attribute name="errorCodeId"
                                                  type="xs:unsignedInt" use="required"/>
                                                  <xs:attribute name="fieldNumber" type="xs:double"
                                                  use="required"/>
                                                  <xs:attribute default="false" name="caseSensetive"
                                                  type="xs:boolean"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="RequiresField">
                                                  <xs:complexType>
                                                  <xs:sequence>
                                                  <xs:element maxOccurs="unbounded" minOccurs="0"
                                                  name="conditionalFieldIId">
                                                  <xs:complexType>
                                                  <xs:attribute default="true" name="mustExist"
                                                  type="xs:boolean"/>
                                                  </xs:complexType>
                                                  </xs:element>
                                                  </xs:sequence>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:integer" use="required"/>
                                    <xs:attribute default="false" name="canContainMultipleValues"
                                        type="xs:boolean"/>
                                    <xs:attribute name="repeatingElement" type="xs:string"
                                        default="Field"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ErrorMessages">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="errorMessage" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:unsignedInt" use="required"/>
                                    <xs:attribute name="printFieldName" type="xs:boolean"
                                        use="required"/>
                                    <xs:attribute name="printFieldValue" type="xs:boolean"
                                        use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ErrorCodes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="errorCode">
                                <xs:complexType>
                                    <xs:attribute name="id" type="xs:unsignedInt" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DateFormats">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="format"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
